.about {
  position: relative;
}

.about__image {
  position: absolute;
  top: 56px;
  left: 0;

  @include vp-1199 {
    top: 60px;
  }

  @include vp-767 {
    top: 0;
  }
}

.about__image img {
  width: 808px;
  height: 474px;

  @include vp-1199 {
    width: 542px;
    height: 350px;
  }

  @include vp-767 {
    width: 434px;
    height: 400px;
    overflow: hidden;
  }
}

.about__container {
  position: relative;
  padding-top: 56px;
  padding-bottom: 79px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 57px;

  @include vp-1199 {
    padding-top: 15px;
    padding-bottom: 2px;
    gap: 36px;
    padding-right: 43px;
  }

  @include vp-767 {
    padding-top: 400px;
    padding-bottom: 1px;
    gap: 25px;
    align-items: baseline;
    padding-right: 15px;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 56px;
  width: 50%;
  min-height: 395px;
  z-index: 1;
  padding-left: 15px;

  @include vp-1199 {
    gap: 34px;
    width: 40%;
    padding-left: 0;
  }

  @include vp-767 {
    gap: 25px;
    width: 100%;
    padding-left: 0;
  }
}

.about__title {
  padding-top: 23px;

  @include vp-1199 {
    padding-top: 3px;
    padding-left: 6px;
  }

  @include vp-767 {
    padding-top: 6px;
    padding-left: 0;
  }
}

.about__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1199 {
    gap: 28px;
  }

  @include vp-767 {
    gap: 26px;
  }
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-1199 {
    gap: 12px;
  }

  @include vp-767 {
    gap: 14px;
  }
}

.about__item h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 18px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
  }
}

.about__item p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;

  @include vp-767 {
    line-height: 20px;
  }
}
