.btn {
  display: inline-flex;
  padding: 20px;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled,
  &--disabled {
    background-color: $color-nobel;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
    border: unset;
  }
}
