.btn {
  display: inline-flex;
  padding: 20px;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--transparent {
    background-color: $color-transparent;
    padding: 14px 20px;
  }

  &:disabled,
  &--disabled {
    background-color: $color-nobel;
    pointer-events: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border: 1px solid $color-resolution-blue;
    margin: -1px;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
    border: unset;
    margin: 0;
  }
}
