.feedback {
  position: relative;
  min-height: 760px;
  background-color: $color-navy-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include vp-1199 {
    min-height: 680px;
  }

  @include vp-767 {
    min-height: 620px;
  }
}

.feedback__image {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.feedback__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: $color-default-white;
  max-width: 960px;

  @include vp-1199 {
    max-width: 310px;
    gap: 25px;
  }

  @include vp-767 {
    max-width: 290px;
    gap: 20px;
  }
}

.feedback__content h2 {
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin: 0;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.feedback__content p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-bottom: 20px;

  @include vp-1199 {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 0;
    text-align: center;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 18px;
  }
}

.feedback__form {
  display: grid;
  grid-template-columns: repeat(2, 360px) 180px;
  gap: 30px;
  z-index: 1;

  @include vp-1199 {
    grid-template-columns: 271px;
    gap: 11px;
  }

  @include vp-767 {
    grid-template-columns: 290px;
    gap: 8px;
  }
}

.form__input input {
  display: flex;
  padding: 20px 30px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid rgba(2, 102, 193, 0.1);

  &::placeholder {
    font-size: 16px;
    line-height: 16px;
    color: $color-elephant;
    opacity: 0.5;
  }

  @include vp-1199 {
    padding: 16px 15px;
  }
}

.feedback__button {
  justify-content: center;
}
