.header {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  color: $color-default-white;
  z-index: 30;
  transition: transform 0.3s ease, background-color 0.3s ease;

  &--overlay.is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 56, 63, 0.6);
  }

  @include vp-1239 {
    background-color: $color-navy-blue;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;

  @include vp-1239 {
    padding: 20px 0;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr 142px;
    gap: 14px;
    align-items: start;
    padding: 15px 0;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  color: $color-default-white;
  padding: 30px 10px;

  @include vp-1239 {
    padding: 0;

    .is-open & {
      color: $color-elephant;
      z-index: 25;
    }
  }
}

.header__phone {
  width: 150px;
  z-index: 20;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  color: $color-default-white;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-default-white;
    opacity: 0.5;
  }

  &--disabled {
    pointer-events: none;
  }

  @include vp-1239 {
    max-width: 130px;
    font-size: 16px;
    line-height: 16px;
    text-align: end;

    .is-open & {
      color: $color-elephant;

      @include active {
        color: $color-navy-blue;
        opacity: 1;
      }

      &--disabled {
        color: $color-navy-blue;
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  @include vp-767 {
    grid-column: 2/-1;
    margin-left: auto;
    font-size: 14px;
    line-height: 14px;
  }
}

.header__nav {
  max-width: 650px;
  padding: 0 10px;

  @media (max-width: 1199px) {
    max-width: unset;
    background-color: $color-default-white;
    display: flex;
    flex-direction: column;
    left: 0;
    opacity: 0;
    margin: 0;
    padding: 92px 45px 70px;
    position: fixed;
    pointer-events: none;
    top: 0;
    transition: background-color 0.3s ease;
    right: 0;
    visibility: hidden;
    z-index: 20;
  }

  @include vp-767 {
    padding: 115px 15px 50px;
  }

  .is-open & {
    opacity: 1;
    pointer-events: all;
    visibility: visible;

    .header__nav-item {
      opacity: 1;
      transform: translateX(0);
    }

    @include vp-1239 {
      .header__nav-link {
        color: $color-elephant;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.64px;
      }
    }
  }
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: 1199px) {
    flex-direction: column;
    margin: 0 0 70px 0;
    max-width: unset;
    gap: 26px;
  }

  @media (max-width: 767px) {
    gap: 22px;
    align-items: flex-start;
    margin: 0;
  }
}

.header__nav-item {
  font-size: 16px;
  line-height: 16px;

  @media (max-width: 1199px) {
    opacity: 0;
    transition: opacity ease-out 0.15s, transform ease-out 0.15s;
    transform: translateX(-15px);
  }
}

.header__nav-link {
  padding: 3px 5px;
  color: $color-default-white;

  @include hover {
    border-bottom: 1px solid $color-default-white;
  }

  @include focus {
    border: 1px solid $color-default-white;
    margin: 0 -1px;
  }

  @include active {
    border: none;
    margin: 0;
    outline: none;
  }

  &--disabled {
    pointer-events: none;
  }
}

.header__burger {
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000000;
  display: none;
  padding: 0;
  position: relative;
  z-index: 25;

  @media (max-width: 1199px) {
    display: flex;
    position: relative;
    transition: opacity 0.3s ease;
  }

  .is-open {
    .header__burger-icon {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease 0s;
    }

    .header__burger-icon-close {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease 0.2s;
    }
  }
}

.header__burger-icon {
  font-size: 18px;
  font-family: "Neue Machina", "Arial", sans-serif;
  font-weight: 700;
  line-height: 1;
  transition: opacity 0.3s ease 0.1s;
  cursor: pointer;

  .is-open & {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease 0s;
  }
}

.header__burger-icon-close {
  stroke: #ffffff;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  .is-open & {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease 0.2s;
  }
}
