.reviews__container {
  padding-top: 30px;
  padding-bottom: 1px;

  @include vp-1199 {
    padding-top: 37px;
    padding-bottom: 57px;
  }

  @include vp-767 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.reviews__swiper-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include vp-1199 {
    gap: 56px;
  }

  @include vp-767 {
    gap: 18px;
  }
}

.reviews__title {
  max-width: 550px;
  padding-top: 21px;

  @include vp-1199 {
    padding-top: 18px;
  }

  @include vp-767 {
    padding-top: 10px;
  }
}

.reviews__swiper-button {
  top: 29px;
  right: 0;

  &--prev {
    right: 41px;
    left: auto;
  }

  @include vp-767 {
    top: 22px;
  }
}

.reviews__swiper {
  width: 100%;
  max-width: $vp-1440;
  margin: 0 auto;
}

.reviews__swiper {
  padding: 10px;

  @include vp-1199 {
    padding: 0;
  }
}

.reviews__swiper-slide {
  display: grid;
  grid-template-columns: 258px 1fr;
  max-width: 700px;
  min-height: 293px;
  gap: 30px;
  padding: 20px 40px 20px 20px;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  background-color: $color-default-white;

  @include vp-1199 {
    grid-template-columns: 186px 1fr;
    max-width: 565px;
    min-height: 277px;
    padding: 20px 30px 20px 20px;
  }

  @include vp-767 {
    max-width: 320px;
    min-height: 466px;
    grid-template-columns: 1fr;
    grid-template-rows: 169px 1fr;
    gap: 19px;
    padding: 20px;
  }
}

.reviews__slide-image img {
  width: 258px;
  height: 253px;
  object-fit: cover;

  @include vp-1199 {
    width: 186px;
    height: 237px;
  }

  @include vp-767 {
    width: 100%;
    height: 169px;
  }
}

.reviews__slide-content {
  display: flex;
  flex-direction: column;
  margin: 0;

  @include vp-1199 {
    padding-top: 3px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.reviews__slide-content p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;

  &:last-child {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: auto;
  }

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;

    &:first-child {
      padding-bottom: 11px;
    }
  }

  @include vp-767 {
    &:first-child {
      padding-bottom: 10px;
    }
  }
}

.reviews__slide-content > cite {
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  padding-bottom: 8px;
  margin-top: auto;

  @include vp-1199 {
    padding-top: 25px;
    padding-bottom: 6px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    padding-top: 16px;
    margin-top: 0;
  }
}
