.swiper-button {
  width: 37px;
  height: 35px;
  color: $color-default-white;
  background-color: $color-navy-blue;

  &::after {
    content: none;
  }

  @include hover-focus {
    color: $color-resolution-blue;
    background-color: $color-default-white;
    border: 1px solid;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-resolution-blue;
    border: 1px solid $color-resolution-blue;
  }
}

.swiper-button-next svg {
  transform: rotate(180deg);
}

.swiper-button.swiper-button-disabled {
  color: $color-default-white;
  background-color: $color-nobel;
  border: 1px solid $color-nobel;
  opacity: 1;
}
