.title {
  position: relative;
}

.title h2 {
  position: relative;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  margin: 0;

  @include vp-1199 {
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
    max-width: 230px;
  }
}

.title--big h2 {
  @include vp-1199 {
    font-size: 35px;
    line-height: 100%;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.title p {
  position: absolute;
  bottom: -3px;
  left: 0;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 55px;
  color: rgba(45, 56, 63, 0.03);
  margin: 0;
  overflow: hidden;

  @include vp-1199 {
    font-size: 40px;
    line-height: 40px;
  }

  @include vp-767 {
    top: -1px;
    font-size: 26px;
    line-height: 26px;
  }
}

.title--big p {
  @include vp-1199 {
    font-size: 55px;
    line-height: 55px;
  }

  @include vp-767 {
    font-size: 55px;
    line-height: 55px;
  }
}
